{{#if enabled}}
  <div class="modal-fog">
    <div class="modal-frame">
      <div class="modal-title">
        {{title}}
      </div>
      <div class="modal-body">
  			<button {{action 'toggleModal' task.id}}> x </button>

		    <div class="task-description">

	  		{{!-- <div class="description"> --}}
    		  <span>Description:</span> 
		  		{{input value=description}}
          {{!-- <button {{action 'addDescription'}}>add description</button> --}}

  			</div>

        {{yield}}
      </div>
    	
    </div>
  </div>
{{/if}}



