{{#if enabled}}
  <div class="modal-fog">
    <div class="modal-frame">
      <div class="modal-title">
        <input type="text" value={{title}} onkeypress={{action "titleChange"}} />

        {{!-- {{title}} --}}
      </div>
      <div class="modal-body">
  			<button {{action 'toggleModal' task.id}}> x </button>

		    <div class="task-description">

    		  <span>Description:</span> 
		  		{{!-- {{input value=description}} --}}
           <input type="text" value={{description}} onkeypress={{action "addDescription"}}/>

  			</div>

        {{yield}}
      </div>
    	
    </div>
  </div>
{{/if}}



