<article class="list">
  
  <div class="details">



		<ul>
		  {{#each-in lists as |list tasks|}}
		    <li>{{list}}
		      <ol>
		        {{#each tasks as |task|}}
		          <li>{{task}}</li>
		        {{/each}}
		        <button>Add Task</button>
		      </ol>
		    </li>
		  {{else}}
  			<h2>Default List</h2>	
		  {{/each-in}}
		</ul>

  </div>  
  
</article>


{{!--   <h3>{{list.title}}</h3>
    <span>Description:</span> {{list.description}}
    <br>
    <a class="newTask">
    <button>Add Task</button>
  	</a> --}}