<article class="list">
  
	<h3>{{list.name}}</h3>
    <ul>
      {{#each list.tasks as |taskName|}}
        <li>{{task-display task=taskName}}</li>
          {{!-- <li>{{task.taskName}}</li> --}}

{{!--           <button {{action 'showModal' 'task-editor' target=modals}}>
              edit task
          </button> --}}
      {{/each}}

    </ul>
    <div class='input'>
      {{input value=taskName}}
        <button {{action "addTask"}}>Add Task</button>
    </div>
</article>