<div class="list">
  
    {{#if editList}}
      {{input value=list.name enter="editListName"}}
    {{else}}
	   <a {{action "showEditListName"}}><h3>{{list.name}}</h3></a>
    {{/if}}
    
      {{#each list.tasks as |taskName|}}
        <p>{{task-display task=taskName myList=list}}</p>
      {{/each}}
    

    <div class='add-task-input'>
  {{#click-outside action=(action "closeAddTask")}}
        {{#if addATask}}
          {{input value=taskName enter="addTask"}}
          {{#if clickedOutside}}
              <a href {{action "openNewTask"}}>Add a task...</a>
          {{/if}}
        {{else}}
        <a href {{action "openNewTask"}}>Add a task...</a>

        {{/if}}
  {{/click-outside}}
    </div>

</div>