<ul class="errors">
  {{#each errors as |error|}}
    <li>{{error.message}}</li>
  {{/each}}
</ul>

  {{!-- {{input name="task name" value=task.name change=(action "required")}} --}}
  {{task.name}}
<fieldset>
  {{input name="task description" value=task.description change=(action "required")}}
</fieldset>

  <div class="description">
    <span>Description:</span> {{task.description}}
  </div>