<article class="task">

 <a {{action "toggleModal"}}> {{task.taskName}} </a>

{{#if isShowingModal}}
	{{#modal-dialog onClose="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
  		{{edit-task-modal description=task.description title=task.taskName id=task.id list=myList}}
  		<button {{action 'toggleModal' id}}> close </button>
		<button {{action 'deleteTask' id }}> delete </button>
  {{/modal-dialog}}
{{/if}}

</article>


