<div class="container">
	<h2>Lists</h2>
  
  <div class="lists">
  	{{#each model as |listName|}}
  		{{task-list list=listName}}

{{!--   	{{else}}
  		<h3>Default List</h3>
  		{{input value=taskName}}
  		<button {{action "addTask"}}>Add Task</button> --}}

	{{/each}}


  </div>
  {{input value=listName}}
  <button {{action "addList"}}>Add List</button>

</div>